{% extends "base.html" %}

{% block content %}

<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-12">
                <div class="card rounded-3 text-black card-text justify-content-center">
                    <h2> All Accounts</h2>
                    {% for i in range(account_names|length) %}
                    <div class="scooterContainer">
                        <p><strong>Account Name: </strong>{{ account_names[i] }}</p>
                        <p><strong>Status: </strong>{{ account_statuses[i] }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}