{% extends "base3.html" %}

{% block content %}

<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-12">
                <div class="card rounded-3 text-black card-text">

                    <h4>Here is some information about the stock: </h4>
                    <p> {{ message_1 }} </p>

                    <h4>The current price of the stock is: </h4>
                    <p> {{ message_2 }} </p>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}